<div>
    <div>
        <div class="bg-cover rounded-circle bg-dark" style="width: 2rem; height: 2rem; style='background-image: url({{{img}}})'"></div>
        <div class="badge badge-dark">{{{ role }}}</div>
        <small>{{{username}}}</small>
    </div>

    <a href="{{ url }}">{{ title }}</a>
    <br>
    <small>{{{date}}}</small>
</div>