{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template blocks_forumfeed/posts

    Example context (json):
    {
        "popular": false,
        "post": [
            {
                "course": "My ace course"
            }
        ]
    }
}}

<p>{{#str}} description,  block_forumfeed {{/str}}</p>
<div class="row">
{{#post}}
    <div class="col-12 col-sm-6 col-md-3 {{#popular}} col-md-6 {{/popular}} mb-1 p-2">
        {{> block_forumfeed/post }}
    </div>
{{/post}}

{{! No posts message. }}
{{^post}}
    <div class="col">
        <p>{{#str}} noposts, block_forumfeed {{/str}}</p>
    </div>
{{/post}}
</div>

{{! Link to all forum posts by user. }}
<div class="text-right mt-3">
    <a href="{{{ config.wwwroot }}}/mod/forum/user.php" class="h5 font-weight-bold text-dark">
        <i class="fa-solid fa-circle-arrow-right mr-2" aria-hidden="true"></i>{{#str}} viewyourforumposts,  block_forumfeed {{/str}}
    </a>
</div>

<style>
/* TODO - This all needs to go into the theme. */
.block_forumfeed {
    padding: 1rem 0;
}

/* Top margin for links so not covered by sticky breadcrumb. */
.forum-post-container:target {
    scroll-margin-top: 82px;
}
</style>