{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template blocks_forumfeed/post

    Example context (json):
    {
        "course": "My ace course",
        "forum": "My ace forum",
        "img": "https://randomuser.me/api/portraits/women/71.jpg",
        "username": "My ace forum",
        "role": "Teacher",
        "url": "moodlecourse?id=foo",
        "title": "My forum post title",
        "date": "6:30pm - 13th October",
        "popular": true,
        "poststhisweek": "3"
    }

}}
<div class="forum-feed-card position-relative d-flex flex-column p-3 h-100">
    {{! Poster details. }}
    <div class="d-flex">
        <div class="bg-cover rounded-circle bg-light mr-2 flex-shrink-0"
        style="width: 3rem; height: 3rem; background-image: url('{{{img}}}');
        "></div>
        <div class="small">
            <div>
                {{#role}}
                <span class="badge badge-dark">{{{ role }}}</span>
                {{/role}}
                {{{username}}}
            </div>

            <div>
                <span class="timedate">{{{date}}}</span>
            </div>
        </div>
    </div>

    {{! Popular tag. }}
    {{#popular}}
    <div class="pt-2">
        <span class="badge badge-success"><i class="fa-solid fa-arrow-trend-up mr-1"></i> {{#str}} popular, block_forumfeed {{/str}}</span>
        <span class="small"> {{#str}} poststhisweek, block_forumfeed, {{.}} {{/str}}</span>
    </div>
    {{/popular}}

    {{! Forum post link. }}
    <div class="py-2">
        <a class="line-clamp-2 font-weight-bold stretched-link" href="{{ url }}">{{ title }}</a>
    </div>

    {{! Forum post breadcrumb. }}
    <div class="mt-auto d-flex align-items-center small text-muted ">
        <div class="rounded-circle bg-cover flex-shrink-0 mr-2 bg-light"
        style="background-image: url({{courseimage}}); height: 2rem; width: 2rem;"></div>
        <div class="line-clamp-2">{{forum}}</div>
    </div>

</div>
